/* VARAIABLES */
:root {
    --bg-dark: #000;
    --color-dark: #fff;

    --bg-light: #000;
    --color-light: #fff;
}


/* ESTILOS */ 
body {
    background: var(--bg-dark);
    color: var(--color-dark);
}


/*FONT FACE*/
@font-face {
    font-family: 'segoeui';
    src: url('../fonts/segoeui.ttf') format('truetype'); 
} 

@font-face {
    font-family: 'grotesque';
    src: url('../fonts/GrotesqueMTStd.otf') format("opentype"); 

@font-face {
    font-family: 'berkeley';
    src: url('../fonts/BerkeleyStd-Book.otf') format("opentype"); 
} 
