/* VARAIABLES */
:root {
    --bg-dark: #000;
    --color-dark: #fff;

    --bg-light: #000;
    --color-light: #fff;
}


/* ESTILOS */ 
body {
    background: var(--bg-light);
    color: var(--color-light);
}


