/* VARAIABLES */
@bool-theme: 1;

@bg-dark: #000;
@color-dark: #fff;

@bg-light: #000;
@color-light: #fff;

/* ESTILOS */ 
body {
    background: if(@bool-theme < 2, @bg-dark, @bg-light);
    color: if(@bool-theme < 2, @color-dark, @color-light);
}


/*FONT FACE*/
@font-face {
    font-family: 'segoeui';
    src: url('assets/fonts/segoeui.ttf') format('truetype'); 
} 

@font-face {
    font-family: 'grotesque';
    src: url('assets/fonts/GrotesqueMTStd.otf') format("opentype"); 

@font-face {
    font-family: 'berkeley';
    src: url('assets/fonts/BerkeleyStd-Book.otf') format("opentype"); 
} 
